
* 
{
  box-sizing: border-box;
  /* outline: 1px solid coral; */
}

header
{
  text-align: left;
}

header p {
  margin: 1vh 0;
  letter-spacing: 0.5px;
}

html 
{
  font-family: sans-serif;
  font-size: 12px;
  background: white;
  height: 600px;
  margin: 0;
  overflow-x: hidden;
}

body 
{
  max-width: 800px;
  background: white;
  margin: 0 auto;
  padding: 2em;
  height: inherit;
}

.outer-wrapper 
{
  width: 100%;
  height: 800px;
  background:white;
}

.clearfix 
{
  clear: both;
}

input, textarea, button 
{
  border: 1px solid rgb(218,218,218);
  padding: 5px;
  border-radius: 5px;
}

button 
{
  border: none;
  background-color: white;
  transition: 0.3s;
  width: 140px;
  letter-spacing: 1px;
}

button:hover
{
  background-color: antiquewhite;
}

span {
  background-color: antiquewhite;
}

button:active 
{
  box-shadow: inset -2px -2px 1px rgba(0,0,0,0.05);
}

input, textarea 
{
  font-family: sans-serif;
  box-shadow: inset 2px 2px 1px rgba(0,0,0,0.10);
}

h2 
{
  font-size: 1.3rem;
}

p, input, textarea 
{
  font-size: 1.2rem;
  line-height: 1.5;
}

.new-template 
{
  width: 100%;
  margin-bottom: 20px;
  padding: 2px;
}

input 
{
  width: 100%;
  margin-bottom: 2px;
}

textarea 
{
  width: 100%;
  margin-bottom: 4px;
  resize: none;
  min-height: 200px;
}

.clear 
{
  float: left;
}

.add 
{
  float: right;
  margin-right: 20px;
}

.template 
{
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  border: 1px solid lightgray;
  margin: 20px 0;
}

.template:hover 
{
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  transform: scale(1.01);
}

.template div
{
  margin: 0 10px 0 10px;
}

.template div p
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete 
{
  float: right;
}

b {
  margin-right: 1vw;
}

.cancel 
{
  float: left;
}

.update 
{
  float: right;
}